.homepage img {
  width: 350px;
  height: auto;
}
.homepage .container-skill {
  height: 300px;
}

.skill::after {
  content: "";
  display: block;
  width: 200px;
  margin: 0 auto;
  padding-bottom: 0.5rem;
  border-bottom: 0.4rem solid orange;
  transform: scaleX(0);
  transition: 0.2s linear;
}
.skill:hover::after {
  transform: scaleX(0.5);
}

.portofolio::after {
  content: "";
  display: block;
  width: 400px;
  margin: 0 auto;
  padding-bottom: 0.5rem;
  border-bottom: 0.4rem solid orange;
  transform: scaleX(0);
  transition: 0.2s linear;
}
.portofolio:hover::after {
  transform: scaleX(0.5);
}
.pengalaman::after {
  content: "";
  display: block;
  width: 400px;
  margin: 0 auto;
  padding-bottom: 0.5rem;
  border-bottom: 0.4rem solid orange;
  transform: scaleX(0);
  transition: 0.2s linear;
}
.pengalaman:hover::after {
  transform: scaleX(0.5);
}

@tailwind base;
@tailwind components;
@tailwind utilities;
